{% extends 'base.html' %}

{% load static %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'currencies/app.css' %}">
{% endblock %}

{% block content %}

    <div class="container container-extend">
        {% if not object_list %}
            <div class="alert alert-danger" role="alert">The site has no currency to convert. Admin should create available currencies.</div>
        {% endif %}

        <div class="message" role="alert"></div>

        <form id="currency-rate" action="{% url 'currency_convert' %}" method="GET">
          <div class="form-row align-items-end">
              <div class="col-sm-3">
                <input type="number" name="amount" class="form-control" id="inlineFormInputName" placeholder="amount">
              </div>
            <div class="col-sm-3">
              <select name="from_currency" class="form-control">
                  <option value="" selected>from</option>
                  {% for currency in object_list %}
                    <option value="{{ currency.id }}">{{ currency.short_name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-sm-3">
              <select name="to_currency" class="form-control">
                  <option value="" selected>to</option>
                  {% for currency in object_list %}
                    <option value="{{ currency.id }}">{{ currency.short_name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-sm-3">
              <button type="submit" type="button" class="btn btn-success btn-block">convert</button>
            </div>
          </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'currencies/app.js' %}"></script>
{% endblock %}

